<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <packageSources>
    <clear />

    <add
      key="IranServer"
      value="https://nuget.iranserver.com/repository/nuget/index.json"
      protocolVersion="3" />
  </packageSources>

  <config>
    <add key="globalPackagesFolder" value="/cache/nuget" />
  </config>
</configuration>
